---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Summary from '../components/Summary.astro';
import Contactcard from '../components/Contactcard.astro';
import Friendpic from '../components/Friendpic.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Eighteight from '../components/Eighteight.astro';
import { Code } from 'astro/components';

const snippeta = `<a href="https://uncutified.moe" rel="nofollow">
  <img src="https://uncutified.moe/88x31.gif" width="88" height="31" />
</a>`;
const snippetb = `<a href="https://uncutified.moe" rel="nofollow">
  <img src="https://uncutified.moe/88x31.png" width="88" height="31" />
</a>`;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

	</head>
	<body>
		<Header />
		<main>
			<div class="subsplash">
				<div class="splash-content">
				  <div class="splash-header">
					<h2>88x31</h2>
				  </div>
				</div>
			  </div>
			  <hr class="section-seperation">
			  <div class="summary">
				<div class="section-header">
					<h2>1. Choose a button!</h2>
					<p class="section-subheader">I do have a cool animated one and a non-animated one.</p>
				</div>
			</div>

			  <div class="eighteightshow">
				<img src="/88x31.gif" alt="">
				<img src="/88x31.png" alt="">
              <br>
			  </div>
			  <div class="section-header">
					<h2>2. Paste the snippet into your source code.</h2>
					<p class="section-subheader">Set "image-rendering" to "pixelated" in your stylesheet for a better result.</p>
				</div>
				
				<div class="eighteightshow">
				<p>Animated Button:</p>
				<Code code={snippeta} lang="html" class="codeblock" />
				<p>Non-animated Button:</p>
				<Code code={snippetb} lang="html" class="codeblock" />
				</div>

				
              <br>

			  <hr class="section-seperation">
		</main>
		<Footer />
	</body>
</html>