---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Summary from '../components/Summary.astro';
import Contactcard from '../components/Contactcard.astro';
import Friendpic from '../components/Friendpic.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

	</head>
	<body>
		<Header />
		<main>
			<div class="subsplash">
				<div class="splash-content">
				  <div class="splash-header">
					<h2>Contact me</h2>
				  </div>
				</div>
			  </div>
			  <hr class="section-seperation">

			  <div class="contact-buttons">
				<div class="cluster">
					<Contactcard 
					href="https://discord.com/users/905133915700863026"
					i="fa-brands fa-discord"
					title="Discord"
					description="I'm chronically online here!"
					rescolor='#77ff77'
					probability="99%" />

					<Contactcard 
					href="https://wa.me/+4915252119306"
					i="fa-brands fa-whatsapp"
					title="WhatsApp"
					description="I check messages frequently."
					rescolor='#ddff77'
					probability="80%" />

					<Contactcard 
					href="https://www.instagram.com/that_random_tf/"
					i="fa-brands fa-instagram"
					title="Instagram"
					description="I check messages about 2-3 times a week."
					rescolor='#ffaa77'
					probability="60%" />

					<Contactcard 
					href="mailto:hi@uncutified.moe"
					i="fa-solid fa-envelope"
					title="Email"
					description="I may respond within 14 days."
					rescolor='#ff7777'
					probability="20%" />

				</div>
			  </div>

			  <hr class="section-seperation">
		</main>
		<Footer />
	</body>
</html>


