---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Summary from '../components/Summary.astro';
import Projectcard from '../components/Projectcard.astro';
import Friendpic from '../components/Friendpic.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

	</head>
	<body>
		<Header />
		<main>
			<div class="splash">
				<div class="splash-content">
				  <div class="splash-header">
					<h2>hi, i'm <span style="color: var(--accent);" id="typing"></span></h2>
				  </div>
				  <div class="splash-subheader">
					<p>18 years old silly girly from germany</p>
				  </div>
				</div>
				
				<div class="splash-image">
				  <a href="https://gadse.uwurzelkater.de/"><img src="https://github.com/uncutified.png" alt="Lexy" /></a>
				</div>
			  </div>

			<hr class="section-seperation">

			<div class="summary">
				<div class="section-header">
					<h2>Summary</h2>
				</div>
				<Summary />
			</div>

			<div class="projects">
				<div class="section-header">
					<h2>Projects</h2>
				</div>
				<div class="cluster">
					<Projectcard 
					href="https://minehost.xyz/"
					img="https://minehost.xyz/img/minehost-logo.png"
					title="Minehost.xyz"
					description="Affordable server hosting"/>

					<Projectcard 
					href="#"
					img="https://cdn.discordapp.com/icons/1183800558629441587/f6078f12b424e96742a77acdaedbb174.webp?size=1024"
					title="Valendria.net"
					description="Minecraft server network (paused)"/>
					
				</div>
			</div>

			<div class="friends">
				<div class="section-header">
					<h2>Friends</h2>
				</div>
				<div class="friendbar">
					<Friendpic
					href="https://canoytpmv.lol/"
					title='Cano'
					img='https://canoytpmv.lol/YouTube%20Content%20Bilder/Berliner%20S-Bahn%20Logo.jpg'/>

					
				</div>
			</div>
		</main>
		<Footer />
	</body>


	
	<script>
		const words = ["recutified", "lexy", "silly"];
		let i = 0;
		let j = 0;
		let currentWord = "";
		let isDeleting = false;
		const speed = 100;
		const eraseSpeed = 80;
		const delay = 3000;
		
		function type() {
		  currentWord = words[i];
		  
		  if (!isDeleting) {
			document.getElementById("typing").textContent = currentWord.substring(0, j + 1);
			j++;
			if (j === currentWord.length) {
			  isDeleting = true;
			  setTimeout(type, delay);
			  return;
			}
		  } else {
			document.getElementById("typing").textContent = currentWord.substring(0, j - 1);
			j--;
			if (j === 0) {
			  isDeleting = false;
			  i = (i + 1) % words.length;
			}
		  }
		  setTimeout(type, isDeleting ? eraseSpeed : speed);
		}
		
		type();
		</script>
</html>


