---
interface Props {
  href: string;
  img?: string;
  title: string;
}

const { href, img, title } = Astro.props;
---
<a href={href} class="gamecard" style="background-color: ;">
        <div class="projecttitle">
            <div class="titlecontent">
                {img && <img src={img} alt={title} />}
                <p class="cardtitle">
                    {title}
                </p>
            </div>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </div>
</a>
