---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header class="nav">
	<nav>
		<div class="navigation">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/contact">Contact</HeaderLink>
		</div>
		<div class="settingbuttons">
			<ThemeIcon />
		</div>
	</nav>
</header>
