
<div class="summary-box">
    <p>
        My name is Lexy and I'm passionate about rhythm games, coding and railways.
        I also love to watch anime and play video games in my free time.
        I'm currently working as train driver apprentice and learning web and discord bot development on the side.
    </p>
</div>